<!DOCTYPE html>
<head>
  <style>
    #chunk-game {
      background-color: black;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  </style>
</head>
<body>
<h1>{{ page.title }}</h1>
{{ content }}

<div id="footer">
  <p>Written for
    <a href="http://bridgefoundry.org">BridgeFoundry</a> by
    <a href="http://zassmin.com">Zassmin</a> and
    <a href="http://zeespencer.com">Zee</a>
  </p>

  <p>
    <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
      <img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/4.0/88x31.png" />
    </a><br />
    <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/InteractiveResource" property="dct:title" rel="dct:type">
      Javascript Snake Tutorial
    </span> by
    <a xmlns:cc="http://creativecommons.org/ns#" href="https://github.com/railsbridge/snake-game-tutorial" property="cc:attributionName" rel="cc:attributionURL">
      BridgeFoundry
    </a>
    is licensed under a
    <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
      Creative Commons Attribution-ShareAlike 4.0 International License
    </a>.
  </p>
</div>
</body>
</html>
